

/* Applies to all elements in body, unless specified otherwise below*/
body {
    font-size: 1em;
    line-height: 1.4;
    background: rgb(169,169,169);
    font-family: "Courier";
}

/* Remove underline from all hyperlinks*/
a {
    color: rgb(0,0,0);
    text-decoration: none;
}

/* ------------------------------------*/
/* Formatting for the MENU section    */
/*-------------------------------------*/

#top_header {
    width: 940px;
    height: 40px;
    position: fixed;
    top: 0;
    left:50%;
    margin-left: -470px;
    z-index: 900;
}

nav {
    width: 640px;
    height: 40px;
    position: absolute;
    top: 0px;
    right: 0px;
}

nav ul li {
    width: 140px;
    display: inline;
    background-color: rgba(160,160,160);
    text-align: center
}

nav ul li a {
  background-color: rgb(160,160,160);
}

#top_header nav ul li a {
    /*border-top: 15px solid #000;*/
    display: block;
    width: 140px;
    margin: 0 0 0 10px;
    float: left;
    cursor: pointer;
    height: 32px;
    color: rgb(0,0,0);
    text-decoration: none;
    font-size: 14px;
    position: relative;
    /*text-indent: -9999px;*/
}

#top_header nav ul{
    float: right;
    margin: 0;
    padding: 0;
    height: 45px;
}

/* ---------------------------------------------------*/
/* Formatting that applies to all content sections    */
/*----------------------------------------------------*/
.scroll_section {
    width: 100%;
    /*height defines scrolling distance to each section*/
    /*height: 550px; */
    /* Use 100% of viewport height. See https://stackoverflow.com/questions/1575141/make-div-100-height-of-browser-window */
    min-height: 80vh;
    padding: 20vh 0 0 0; /*Padding sets content position in each section. top pad + height = 100vh; Padding (top, right, bottom, left) inside element*/
}

/* ------------------------------------*/
/* Formatting for the TITLE section    */
/*-------------------------------------*/

#title{
    text-align: left;
    width: 900px;
    margin: auto;
}

#subtitle{
    text-align: right;
    width:550px;
    padding: 60px 0px 0 0px; /* This sets how far below and to the right the title the subtitle is*/
    margin: auto;
}

#title p a {
    font-family: 'Philosopher';
    font-size: 210px;
    line-height: 102px;
    letter-spacing:0px;
    margin: 0;
    color: rgb(0,0,0)
}

/* ------------------------------------*/
/* Formatting for the ABOUT section    */
/*-------------------------------------*/

#about {
    margin: 0 auto;
    width: 940px;
/*    padding-right: 90px;
    padding-left: 200px;*/
}

#about p {
    width: 380px;
    margin: 0 60px 0 0px;
    float:left;
    font-size: 16px;
    line-height: 22px;
}

/* ------------------------------------*/
/* Formatting for the ISSUES section    */
/*-------------------------------------*/

#issues {
    width: 940px;
    /*padding-left: 10px;
    padding-right: 10px;
    */
    margin: 0 auto;
    /*position: relative;*/
}

#issues ul:after {
  content: "."; /* Insert content that looks like bullets */
  display: block;
  clear:both;
  height: 0;
  visibility: hidden; /*hide the bullets*/
}

.covers {
    width: 292px;
    height: 359px;
}

#issues ul li {
    list-style: none;
}

#issues ul li img {
    float: left;
    margin-right: 36px; /*distance between image and text*/
}

#issues ul li h4 {
    font-weight: 700;
    font-size: 14px;
    margin: 0;
}

#issues ul li h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 900;
    font-style: italic;
    margin: 0;
}
#issues ul li p {
    width:590px;
    font-size: 16px;
    line-height: 22px;
}

/* ------------------------------------*/
/* Formatting for the CONTENT section    */
/*-------------------------------------*/

#content {
    margin: 0 auto;
    width: 800px;
/*    padding-right: 90px;
    padding-left: 200px;*/
}

.title {
    width: 200px;
    margin: 0 60px 0 0px;
    float:left;
    font-size: 16px;
    line-height: 22px;
}

.features {
    width: 380px;
    margin: 0 60px 0 0px;
    float:left;
    font-size: 16px;
    line-height: 22px;
}

/* ------------------------------------*/
/* Formatting for content pages        */
/*-------------------------------------*/

#essay_section {
    width: 50vw;
    margin: 0 auto;
    padding: 200px 0px 0 0px; /* This sets how far below and to the right the title the subtitle is*/
}

.photo_aligncenter {
    max-width: 100%;
    margin: auto;
}
